*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-size: 16px;
}
ol, ul, h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}

.container{
  background-color: white;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  transform: translateY(25%);
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 200px 10px grey;
}

.h1{
  margin: 10px;
}

#Form{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}

input{
  max-width: 400px;
  width: 100%;
  border: none;
  font-size: 30px;
  border-radius: 5px;
  box-sizing: content-box;
  padding: 10px 25px;
  background-color: bisque;
}

#valueOutput{
  text-align: center;
}

#valueSubmit, #valueReset{
  max-width: 200px;
  width: 70%;
}

#valueBgColor{
  max-width: 100px;
  width: 100%;
}

@media only screen and (max-width: 580px){

  .container{
    max-width: 400px;
  }

  input{
    max-width: 300px;
    font-size: 20px;
    padding: 10px 25px;
  }

  #valueSubmit, #valueReset{
    max-width: 150px;
  }

  #valueBgColor{
    max-width: 80px;
  }
}

@media only screen and (max-width: 450px){

  .container{
    max-width: 320px;
  }

  input{
    max-width: 220px;
    font-size: 16px;
  }

  #valueSubmit, #valueReset{
    max-width: 100px;
  }

  #valueBgColor{
    max-width: 50px;
  }
}